.cell {
  height: 40px;
  width: 40px;
  margin: 2px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.cell:not(.calendar-week) {
  cursor: pointer;
}

.calendar-week {
  color: var(--second-gray-color);
  text-transform: uppercase;
}

.default {
  color: #1b1b2f;
}

.today {
  background-color: #e4e7ec;
}

.previousMonth {
  color: var(--second-gray-color);
}

.nextMonth {
  visibility: hidden;
}
