@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-blue-color: #3082ff;
  --main-gray-color: #ecedef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

.App {
  height: 100vh;
  width: 100%;
  background-color: var(--main-gray-color);
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5rem;
}
